* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* JUMBOTRON */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.jumbotron hr {
  border: 0.7px dotted #fff;
  width: 80%;
}

/* CONTAINER - FEATURE */
#feature.container {
  height: 80vh;
}



/* FOOTER */
footer {
  background-color: #29296b;
  padding: 2% 0 2% 5%;
  text-align: center
}

.footer-icon {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

footer p {
  display: inline-block;
  color: #fff;
  margin: 0 3%;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

footer i {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  background-color: #4acbf4;
  padding: 15px;
  border-radius: 50%;
  margin: 8px;
}

footer i.fa-facebook-f {
  padding-right: 18px;
  padding-left: 18px;
}
